<p id="notice"><%= notice %></p>

<p>
  <strong>Age:</strong>
  <%= @actor.age %>
</p>

<p>
  <strong>Residence:</strong>
  <%= @actor.residence %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @actor.dob %>
</p>

<p>
  <strong>Url:</strong>
  <%= @actor.url %>
</p>

<p>
  <strong>Children:</strong>
  <%= @actor.children %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @actor.movie %>
</p>

<p>
  <strong>Real name:</strong>
  <%= @actor.real name %>
</p>

<p>
  <strong>Other occupations:</strong>
  <%= @actor.other occupations %>
</p>

<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>
